html,
header {
    -webkit-app-region: drag;
    -ms-overflow-style: scrollbar;
}

html {
  height: 100%;
  overflow: hidden;
  border: 2px groove dark-gray;
  background: dark-gray!important;
  border-radius: 2px;
}


input,
button,
textarea, a{
    -webkit-app-region: no-drag;
}

header {
    height: 50px;
}

html, body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  /*background: #5682a3;*/
  background: rgba(140, 140, 140, 0.5);
}
#controls, #headerbar-footer{
  height: 44px;
  z-index: 99;
  width: 100%;
  position: absolute;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  height: 15px;
}

#controls{
  border: 2px groove #83aac7;
  border-bottom: none;
  top: 0;
  border-radius: 152px 279px 77px 00px;
}

#headerbar-footer{
  /*background: linear-gradient(to bottom, rgba(125,185,232,0) 1%,rgba(125,185,232,0) 10%,rgba(112,165,206,0) 43%,rgba(89,131,160,1) 100%);
  border-bottom: 2px groove #83aac7;*/
  top: 34px;
}

#controls button{
  border-radius: 99px;
  padding: 7px;
  border: none;
  margin: 3px;
}
#controls button#close-btn{
  /*background: rgb(251, 92, 65);*/
  font-weight: bold;
  background: none;
  text-shadow: 0px 0px 3px  #8fbcde;/*#4c728f;*/
  color: #2a3e4e;
  position: absolute;
  left: 16px;
  top: 12px;
  background-image: url("close.png");
}
#controls button#max-btn{
  background: rgb(144, 238, 106);
}
#controls button#min-btn{
  background: rgb(222, 195, 120);
}
webview{
  height: 100%;
  width: 100%;
  padding-bottom: 5px;
  -webkit-app-region: no-drag;
  padding-top: 4px;
  background-color: #5682a3;
  border-radius: 7px;
}
