html,
header, #controls {
    -webkit-app-region: drag;
    -ms-overflow-style: scrollbar;
}

html {
  height: 100%;
  overflow: hidden;
  border: 1px solid dark-gray;
  background: dark-gray!important;
  border-radius: 2px;
}


input,
button,
textarea, a{
    -webkit-app-region: no-drag;
}

header {
    height: 50px;
}

html, body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #5682a3;
}

#controls{
  padding: 9px;
  padding-bottom: 3px;
  padding-top: 5px;
  border-radius: 2px;
  border: 1px solid #83aac7;
  border-bottom: none;
  background: linear-gradient(to bottom, rgba(125,185,232,0) 1%,rgba(125,185,232,0) 10%,rgba(112,165,206,0) 43%,rgba(89,131,160,1) 100%);
  padding: 0;
}

#controls button{
  border-radius: 99px;
  padding: 7px;
  border: none;
  margin: 3px;
}
#controls button#close-btn{
  /*background: rgb(251, 92, 65);*/
  font-weight: bold;
  background: none;
  text-shadow: 0px 0px 5px #4c728f;
  color: #416179;
  position: absolute;
  left: 10px;
  top: 5px;
}
#controls button#max-btn{
  background: rgb(144, 238, 106);
}
#controls button#min-btn{
  background: rgb(222, 195, 120);
}
webview{
  height: 100%;
  width: 100%;
  padding-bottom: 5px;
  -webkit-app-region: no-drag;
}
